$frontend-primary: mat-palette($mat-indigo, 800, 300, 900);
$frontend-accent: mat-palette($mat-light-blue);
$frontend-warn: mat-palette($mat-pink, 600);

$frontend-theme: mat-light-theme($frontend-primary, $frontend-accent, $frontend-warn);
