{% extends "base.html" %}
{% block title %} SetupGame {% endblock %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-lg-8 col-md-10 col-sm-12">
        <h4 class="mb-3">Input players</h4>
        <form id="fm" method="POST" action="{% url 'Helper:complete_setup_game' room_id %}" novalidate>
            {% csrf_token %}
            {% for number in numbers_of_players %}
            <div class="form-group row mb-4">
                <label for="player_name{{number}}" class="col-sm-3 col-form-label">Player {{number}}'s Name</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" id="player_name{{number}}" name="player_name{{number}}" placeholder="" value="Player {{number}} Name" required>
                    <div class="invalid-tooltip">
                        Player's name is required.
                    </div>
                </div>
                <div class="col-sm-4">
                    <select class="form-control d-block w-100" id="character_name{{number}}" name="character_name{{number}}" required>
                        <option value="">Choose...</option>
                        {% for character in characters %}
                        <option value="{{ character.value }}">{{ character.name }}</option>
                        {% endfor %}
                    </select>
                    <div class="invalid-tooltip">
                        Please choose a unique character.
                    </div>
                </div>
            </div>
            {% endfor %}
            <button class="btn btn-primary btn-lg btn-block" type="submit">Start Game</button>
        </form>
    </div>
</div>
{% endblock content %}
{% block javascripts %}
<script type="text/javascript">
function check_selects_duplicates() {
    var selects = document.getElementsByTagName('select');
    var values = [];
    var result = false;
    for (i = 0; i < selects.length; i++) {
        var select = selects[i];
        if (values.indexOf(select.value) > -1) {
        	select.setCustomValidity('invalid');
            result = true;
        }
        else {
        	select.setCustomValidity('');
            values.push(select.value);
        }
    }
    return result;
}
(function() {
    "use strict"
    window.addEventListener("load", function() {
        var form = document.getElementById("fm");
        form.addEventListener("submit", (function(event) {
            if (form.checkValidity() === false | check_selects_duplicates()) {
                event.preventDefault();
                event.stopPropagation();
            }
            form.classList.add("was-validated");
        }), false);
    });
})()
</script>
{% endblock javascripts %}